* {
    margin : 0;
    padding : 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    padding-bottom: 1%;
}

.log img{
    padding-top : 1%;
    margin-left: 2%;
}

main {
    background-color:#d9d9d9;
    width: 100vw;
    height: 100vh;
    border-top: 1px solid grey;
}

.login_box * {
    position: relative;
    top : 50px;
}

.container {
    width : 50%;
    height: 70%;
    border-radius: 26px;
    background-color: white;
    padding: 5% 10% 10% 10%;
    margin : 0 auto;
}

.title {
    top : 5%;
    text-align: center;
}

.form-group {
    top : 3%;
}

.info_login {
    text-decoration: underline;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 15%;
}


.btn_log {
    border : none;
    border-radius: 26px;
    padding : 1%;
    width : 20%;
}

@media screen and (max-width:600px) {

    .title h2 {
        margin-bottom : 10%;
    }

    .login_box {
        height: 100vh;
    }

    .btn_log {
        font-size: 0.8rem;
        color : black;
        width : 40%;
        margin-top : 15%;
    }
}